<% layout('layouts/boilerplate') %>
<% const isComplete = (t) => { %>
    <% if(t.completed === 'on') { %>
        <%= 'list-group-item-success' %>
    <% } else if(Date.now() > new Date(t.deadline)) { %>
        <%= 'list-group-item-danger' %>
    <% } else { %>
        <%= 'list-group-item-info' %>
    <% } %>
<% } %>
<div class="row">
    <div class="col-8 offset-2 d-flex justify-content-center">
        <div class="card" style="width: 20rem;">
            <div class="card-body <%= isComplete(task) %> ">
              <p class="h5 card-title d-flex justify-content-between">
                    <%= task.title %>
                    <% if (task.completed === 'on') { %>
                        <small><span class="badge bg-success rounded-pill mx-3">Completed</span></small>
                    <% } else if(Date.now() > new Date(task.deadline)){ %> 
                        <small><span class="badge bg-danger rounded-pill mx-3">Overdue</span></small>
                    <% } else { %>
                        <small><span class="badge bg-info rounded-pill mx-3">In Progress</span></small>
                    <% } %>                   

                </p>
              <p class="card-text"><%= task.description %> </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                  Deadline: <%= dayjs(task.deadline).format('ddd, MMM D YYYY @ h:mm a') %> 
              </li>
            </ul>
            <small class="card-footer text-muted">
                Created: <%= dayjs(task.createdAt).format('ddd, MMM D YYYY @ h:mm a') %>
            </small>
            <li class="list-group-item d-flex justify-content-between">
                <a href="/" class="btn btn-secondary">Go Back</a>
                
                <a class="btn btn-dark" style=background-color:#eb8934 data-bs-toggle="modal" href="#editModal" role="button">Edit</a>
            </li>
        </div>
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" class="d-inline" action="/task/<%= task._id %>?_method=PUT" method="POST">
                        <div class="mb-3">
                            <label for="title" class="form-label">Title</label>
                            <input type="text" class="form-control" name="task[title]" value="<%= task.title %> " id="title" placeholder="Enter title">
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <textarea class="form-control" name="task[description]" id="description" rows="3"><%= task.description %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="deadline" class="form-label">Deadline</label>
                            <input type="datetime-local" style=display:block; name="task[deadline]" value="<%= dayjs(task.deadline).format('YYYY-MM-DDTHH:mm:ss.SSS') %>" id="deadline">
                        </div> 
                    </form>
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="submit" form="myForm" class="btn btn-primary order-1 d-inline" style=background-color:#eb8934>
                                Save changes
                            </button>
                            <form class="d-inline" action="/task/<%= task.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-secondary">Delete</button>
                            </form>
                        </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
  